{% extends 'template.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

<div class="col-md-12">
    {{ form.media }}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success float-right">Search</button>
    </form>
<br/>
<br/>
    <table class="table">
        <thead>
            <tr>
                {% for value in field.header %}
                    <th scope="col">{{ value }}</th>
            {% endfor %}
              
            </tr>
        </thead>
        <tbody>
            {% for value in field.rows %}
            <tr>
                {% for col in value %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}